torch
torchvision
transformers>=5.19
accelerate
faiss-cpu<1.11.0
scikit-learn
scipy
numpy
fast_hdbscan
umap-learn
pacmap
timm
einops
open-clip-torch
coremltools; sys_platform == "darwin" and platform_machine == "arm64" and python_version < "3.14"
mlx; sys_platform == "darwin" and platform_machine == "arm64" and "20." not in platform_release and "21." not in platform_release and "22." not in platform_release
